<img src="https://ga-dash.s3.amazonaws.com/production/assets/logo-9f88ae6c9c3871690e33280fcf557f33.png" style="float: left; margin: 15px;">

# Intro to Data Cleaning

***

Week 2 | Lesson 2.3

### LEARNING OBJECTIVES
*After this lesson, you will be able to:*

- Inspect data types and values
- Diagram a data processing workflow
- Clean up a column using df.apply()

### LESSON GUIDE
| TIMING  | TYPE  | TOPIC  |
|:-:|---|---|
| 5 min  | [Introduction](#introduction)   | Inspect data types, df.apply(), .value_counts()  |
| 10 min  | [Demo /Guided Practice](#common_steps)  | Common cleaning |
| 10 min  | [Demo /Guided Practice](#dfd)  | Data flow diagrams |
| 10 min  | [Demo /Guided Practice](#inspect_data_types)  | Inspecting data types |
| 10 min  | [Demo /Guided Practice](#apply)  | Applying functions |
| 10 min  | [Demo /Guided Practice](#value_counts)  | .value_counts() |
| 20 min  | [Independent Practice](#ind-practice)  |   |
| 5 min  | [Conclusion](#conclusion)  |   |

<a name="introduction"></a>
## Introduction: data cleaning (5 mins)

Since we're starting to get pretty comfortable with using pandas to do EDA, let's add some more tools to our toolbox.

### Conceptually: what do you look for, and how do you stay organized?

There's no magic formula, but we'll list common cleaning operations.

Reproducibility matters, so document! For high-level planning and documentation, **data flow diagrams** are helpful.

### Technically: once you know what you want to do, how do you do it in pandas?

Pandas has many functions to help process and manipulate your data. You learned some this morning. We'll take a second look at .dtypes, .apply() and .value_counts.

**.dtypes** is the data type attribute of numpy/pandas objects.

**df.apply()** applies a function along any axis of a DataFrame.

**pandas.Series.value_counts** returns a Series containing counts of unique values. Excludes NaN values.

<a name="common_steps"></a>

## Common steps in cleaning data

- Drop outliers

For numerical data, consider dropping values > 3 SDs from the mean.

For categorical data, consider dropping cases accounting for < 1% of items.

- Normalize

Options include:

Max-min: $X_{norm} = (X − X_{min}) / (X_{max} − X_{min})$

Z-score: $(X_i - mean(X)) / sd$

## Common steps in cleaning data

- Relabel

*("Bachelor's", "BSc", "Bachelor of Arts") -> "BA"*

- Decode

*1 -> "EU", 2 -> "Asia-Pacific", 3 -> "MENA"*

## Common steps in cleaning 

- Recast

*("1.0", "2.0", "3.0") -> (1,2,3)*

- Handle null values

Pandas will usually impute NaNs for you. Drop them? Replace with estimates?

## Common steps in cleaning 

- Binarize (dummy variables)

*(Blue, Green, Blue, Red, Red, Green) ->*
*IsBlue: (1, 0, 1, 0, 0, 0); IsGreen: (0, 1, 0, 0, 0, 1); IsRed: (0, 0, 0, 1, 1, 0)*

- Discretization

*(20, 56, 7, 2, 14, 89, 70, 40) -> (Adult, Adult, Child, Child, Child, Senior, Senior, Adult)*

> Look at the Billboard dataset (below). What kinds of cleaning might it require?

In [36]:
import pandas as pd
bb = pd.read_csv('assets/datasets/billboard.csv')
bb.head(15)

,year,artist.inverted,track,time,genre,date.entered,date.peaked,x1st.week,x2nd.week,x3rd.week,...,x67th.week,x68th.week,x69th.week,x70th.week,x71st.week,x72nd.week,x73rd.week,x74th.week,x75th.week,x76th.week
0,2000,Destiny's Child,Independent Women Part I,"3,38,00 AM",Rock,"September 23, 2000","November 18, 2000",78,63,49,...,*,*,*,*,*,*,*,*,*,*
1,2000,Santana,"Maria, Maria","4,18,00 AM",Rock,"February 12, 2000","April 8, 2000",15,8,6,...,*,*,*,*,*,*,*,*,*,*
2,2000,Savage Garden,I Knew I Loved You,"4,07,00 AM",Rock,"October 23, 1999","January 29, 2000",71,48,43,...,*,*,*,*,*,*,*,*,*,*
3,2000,Madonna,Music,"3,45,00 AM",Rock,"August 12, 2000","September 16, 2000",41,23,18,...,*,*,*,*,*,*,*,*,*,*
4,2000,"Aguilera, Christina",Come On Over Baby (All I Want Is You),"3,38,00 AM",Rock,"August 5, 2000","October 14, 2000",57,47,45,...,*,*,*,*,*,*,*,*,*,*
5,2000,Janet,Doesn't Really Matter,"4,17,00 AM",Rock,"June 17, 2000","August 26, 2000",59,52,43,...,*,*,*,*,*,*,*,*,*,*
6,2000,Destiny's Child,Say My Name,"4,31,00 AM",Rock'n'roll,"December 25, 1999","March 18, 2000",83,83,44,...,*,*,*,*,*,*,*,*,*,*
7,2000,"Iglesias, Enrique",Be With You,"3,36,00 AM",Latin,"April 1, 2000","June 24, 2000",63,45,34,...,*,*,*,*,*,*,*,*,*,*
8,2000,Sisqo,Incomplete,"3,52,00 AM",Rock'n'roll,"June 24, 2000","August 12, 2000",77,66,61,...,*,*,*,*,*,*,*,*,*,*
9,2000,Lonestar,Amazed,"4,25,00 AM",Country,"June 5, 1999","March 4, 2000",81,54,44,...,*,*,*,*,*,*,*,*,*,*
10,2000,N'Sync,It's Gonna Be Me,"3,10,00 AM",Rock'n'roll,"May 6, 2000","July 29, 2000",82,70,51,...,*,*,*,*,*,*,*,*,*,*
11,2000,"Aguilera, Christina",What A Girl Wants,"3,18,00 AM",Rock'n'roll,"November 27, 1999","January 15, 2000",71,51,28,...,*,*,*,*,*,*,*,*,*,*
12,2000,Vertical Horizon,Everything You Want,"4,01,00 AM",Rock'n'roll,"January 22, 2000","July 15, 2000",70,61,53,...,*,*,*,*,*,*,*,*,*,*
13,2000,Creed,With Arms Wide Open,"3,52,00 AM",Rock'n'roll,"May 13, 2000","November 11, 2000",84,78,76,...,*,*,*,*,*,*,*,*,*,*
14,2000,Aaliyah,Try Again,"4,03,00 AM",Rock'n'roll,"March 18, 2000","June 17, 2000",59,53,38,...,*,*,*,*,*,*,*,*,*,*

In [245]:
bb.columns.values

array(['year', 'artist.inverted', 'track', 'time', 'genre', 'date.entered',
       'date.peaked', 'x1st.week', 'x2nd.week', 'x3rd.week', 'x4th.week',
       'x5th.week', 'x6th.week', 'x7th.week', 'x8th.week', 'x9th.week',
       'x10th.week', 'x11th.week', 'x12th.week', 'x13th.week',
       'x14th.week', 'x15th.week', 'x16th.week', 'x17th.week',
       'x18th.week', 'x19th.week', 'x20th.week', 'x21st.week',
       'x22nd.week', 'x23rd.week', 'x24th.week', 'x25th.week',
       'x26th.week', 'x27th.week', 'x28th.week', 'x29th.week',
       'x30th.week', 'x31st.week', 'x32nd.week', 'x33rd.week',
       'x34th.week', 'x35th.week', 'x36th.week', 'x37th.week',
       'x38th.week', 'x39th.week', 'x40th.week', 'x41st.week',
       'x42nd.week', 'x43rd.week', 'x44th.week', 'x45th.week',
       'x46th.week', 'x47th.week', 'x48th.week', 'x49th.week',
       'x50th.week', 'x51st.week', 'x52nd.week', 'x53rd.week',
       'x54th.week', 'x55th.week', 'x56th.week', 'x57th.week',
       'x58th.week', 'x59th.week', 'x60th.week', 'x61st.week',
       'x62nd.week', 'x63rd.week', 'x64th.week', 'x65th.week',
       'x66th.week', 'x67th.week', 'x68th.week', 'x69th.week',
       'x70th.week', 'x71st.week', 'x72nd.week', 'x73rd.week',
       'x74th.week', 'x75th.week', 'x76th.week'], dtype=object)

<a name="dfd"></a>


## Planning your system with data flow diagrams (10 mins)


<img src="https://upload.wikimedia.org/wikipedia/commons/thumb/2/24/Data-flow-diagram-notation.svg/220px-Data-flow-diagram-notation.svg.png">

- Function / process (ellipse or circle): takes in data from one or more sources, transforms it, and outputs it to one or more destinations 

- Store / file (parallel lines): place where data persists; takes an input and ought to have an output

- Input-output (rectangle): process that produces or consumes data

- Flow (arrow): shows the flow of specific data

> What is an example of data processing you may want to do? Sketch a data flow diagram and walk your tablemates through it.

<a name="inspect_data_types"></a>
## Demo /Guided Practice: Inspect data types  (10 mins)

Let's create a small dictionary with different data types in it.

### Import Pandas + Numpy

In [3]:
import pandas as pd
import numpy as np

### Create Test Data

In [4]:
test_data = dict( 
    A = np.random.rand(3),
    B = 1,
    C = 'foo',
    D = pd.Timestamp('20010102'),
    E = pd.Series([1.0]*3).astype('float32'),
    F = False,
    G = pd.Series([1]*3,dtype='int8')
)

In [5]:
test_data

{'A': array([ 0.15938454,  0.83801036,  0.55994805]),
 'B': 1,
 'C': 'foo',
 'D': Timestamp('2001-01-02 00:00:00'),
 'E': 0    1.0
 1    1.0
 2    1.0
 dtype: float32,
 'F': False,
 'G': 0    1
 1    1
 2    1
 dtype: int8}

### Create our DataFrame

In [6]:
dft = pd.DataFrame(test_data)
dft

          A  B    C          D    E      F  G
0  0.159385  1  foo 2001-01-02  1.0  False  1
1  0.838010  1  foo 2001-01-02  1.0  False  1
2  0.559948  1  foo 2001-01-02  1.0  False  1

In [231]:
dft.dtypes

A           float64
B             int64
C            object
D    datetime64[ns]
E           float32
F              bool
G              int8
dtype: object

**What might we expect dtypes in the case of mixed type values in a single dimension?**

ie:  [2, 3, 4, 5, 6, 7, 8.9]

If a pandas object contains data multiple dtypes IN A SINGLE COLUMN, the dtype of the column will be chosen to accommodate all of the data types (object is the most general).

### Ints are cast to floats

In [7]:
pd.Series([1, 2, 3, 4, 5, 6.])

0    1.0
1    2.0
2    3.0
3    4.0
4    5.0
5    6.0
dtype: float64

### String elements are cast to ``object`` dtype

In [8]:
pd.Series([1, 2, 3, 'foo'])

0      1
1      2
2      3
3    foo
dtype: object

In [9]:
dft.get_dtype_counts()

bool              1
datetime64[ns]    1
float32           1
float64           1
int64             1
int8              1
object            1
dtype: int64

> If you turn these into a pd.Series, what will be the dtype?

    [1, 3, 9, .33, False, '03-20-1978', np.arange(22)]

In [10]:
pd.Series([1, 3, 9, .33, False, '03-20-1978', np.arange(22)])

0                                                    1
1                                                    3
2                                                    9
3                                                 0.33
4                                                False
5                                           03-20-1978
6    [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13,...
dtype: object

## Why do you think it might be important to know what the column dtypes are?

In [45]:
print(dft.select_dtypes(include=['bool']))
print(dft.select_dtypes(include=['bool'])*2)
print(dft.select_dtypes(include=['object']))
print(dft.select_dtypes(include=['object'])*2)
#dft.select_dtypes(include=['object'])/2

       F
0  False
1  False
2  False
   F
0  0
1  0
2  0
     C
0  foo
1  foo
2  foo
        C
0  foofoo
1  foofoo
2  foofoo

<a name=" df.apply()"></a>
## Demo / Guided Practice:  df.apply(), df.applymap(), Series.map() (20 mins)

df.apply() applies some function to each column (or row) of your dataframe (*"column-wise"*).

df.applymap() applies some function *element-wise*.

Series.map() is a pd.Series method that applies a function element-wise on a series.

> Check: why would these be useful in data cleaning?

In [13]:
# Create test data

df = pd.DataFrame(np.random.randint(-5, 5, (5,4)), columns = ['a','b','c','d'])
df

   a  b  c  d
0 -3 -2  0  4
1 -4 -2  4 -5
2  4 -3 -3  1
3 -2 -3  2 -2
4 -3 -2 -5  1

In [14]:
df.apply(min)

a   -4
b   -3
c   -5
d   -5
dtype: int64

In [15]:
df

   a  b  c  d
0 -3 -2  0  4
1 -4 -2  4 -5
2  4 -3 -3  1
3 -2 -3  2 -2
4 -3 -2 -5  1

In [16]:
df.apply(min, axis = 0)

a   -4
b   -3
c   -5
d   -5
dtype: int64

In [18]:
df.applymap(np.sqrt)

     a   b         c    d
0  NaN NaN  0.000000  2.0
1  NaN NaN  2.000000  NaN
2  2.0 NaN       NaN  1.0
3  NaN NaN  1.414214  NaN
4  NaN NaN       NaN  1.0

In [241]:
df['a'].map(np.sqrt)

0    1.732051
1         NaN
2    1.000000
3         NaN
4    2.000000
Name: a, dtype: float64

> Check: what happens if we try to use the min function in .applymap()?

In [19]:
df.applymap(min)

TypeError: ("'int' object is not iterable", u'occurred at index a')

### Further Reading

For more advanced `.apply` usage, check out these links:

["Why Not"'s Gist Examples](https://gist.github.com/why-not/4582705)

[Chris Albon's Map + Apply Examples](http://chrisalbon.com/python/pandas_apply_operations_to_dataframes.html)

### **Check:** How would you find the std of the columns and rows?

In [23]:
print df.apply(np.std, axis=0)

a    2.870540
b    0.489898
c    3.261901
d    3.059412
dtype: float64

<a name=".value_counts()"></a>
## Demo /Guided Practice: .value_counts() (< 10 mins)

Why is this important?  Basically, this tells us the count of unique values that exist.  It's helpful to identify anything unexpected.  Looking at value_counts(), per series, can give us a quick overview of values expressed in our data.

 - Strings inside of mostly numeric / continious data
 - Non-numeric values
 - General counts of values that we might expect to see
 - Most common / least common values

Let's create some random data

In [31]:
data = np.random.randint(0, 7, size = 50)
data

array([4, 2, 0, 2, 6, 2, 3, 5, 3, 5, 6, 5, 2, 2, 5, 0, 4, 0, 1, 2, 4, 4, 5,
       2, 3, 4, 1, 5, 2, 3, 2, 4, 3, 4, 6, 5, 5, 5, 3, 0, 6, 3, 1, 5, 3, 4,
       6, 3, 0, 5])

In [32]:
s = pd.Series(data)
s.head()

0    4
1    2
2    0
3    2
4    6
dtype: int64

In [50]:
# The counts of each number that occurs in our array is listed
s.value_counts()

5    11
3     9
2     9
4     8
6     5
0     5
1     3
dtype: int64

### Lab preview: let's munge the Billboard dataset!

In [34]:
bb.head(10)

NameError: name 'bb' is not defined

Where do we start? Let's start with the null value sentinels.

In [28]:
def replace_nulls(value):
    if value == '*':
        return np.nan
    else:
        return value

In [29]:
bb.applymap(replace_nulls)

NameError: name 'bb' is not defined

<a name="ind-practice"></a>
## Independent Practice: Topic (20 minutes)

Using our old friend, the [sales_info.csv](assets/datasets/sales_info.csv) dataset:

- Inspect the data types
- Let's say all your values in the first column are too low by 1: use df.applymap to add 1 to each value in it
- Use .value_counts to count the values of each column in the dataset

**Bonus** 
- Write functions to bin the numerical values in each column into 'low', 'medium' and 'high' categories (hint: pandas has a built-in [quantile](http://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.quantile.html) function)
- Use .value_counts again on each column of the dataset, and check that the ratios of the new values are what you expect
- Look at the advanced reading, and rewrite your binning functions as lambda functions

In [44]:
import numpy as np
import scipy.stats as stats
import csv
import seaborn as sns
%matplotlib inline


sales_info= pd.read_csv('/Users/samanthafalk/GA-DSI/Week_Two/2.3-data-cleaning/assets/datasets/sales_info.csv')

sales_info

     volume_sold  2015_margin  2015_q1_sales  2016_q1_sales
0      18.420760    93.802281      337166.53      337804.05
1       4.776510    21.082425       22351.86       21736.63
2      16.602401    93.612494      277764.46      306942.27
3       4.296111    16.824704       16805.11        9307.75
4       8.156023    35.011457       54411.42       58939.90
5       5.005122    31.877437      255939.81      332979.03
6      14.606750    76.518973      319020.69      302592.88
7       4.456466    19.337345       45340.33       55315.23
8       5.047530    26.142470       57849.23       42398.57
9       5.388070    22.427024       51031.04       56241.57
10      9.347349    41.892133       68657.91        3536.14
11     10.930398    66.403049        4151.93      137416.93
12      6.270209    47.869324      121837.56      158476.55
13     12.395919    86.760150      146725.31      125731.51
14      4.557712    22.948176      119287.76       21834.49
15      4.200122    18.706055       20335.03       39609.55
16     10.252870    44.041177      110552.94      204038.87
17     12.076785    62.199004      204237.78       15689.80
18      3.725095    14.251810       16939.15       48545.69
19      3.210727    16.043269       55498.12       16320.74
20      6.290971    25.191171       15983.98       53182.55
21      7.434821    31.753066       71758.66       30402.43
22      4.376225    23.161451       62988.17       47217.40
23     12.988913    48.820741       29637.75        6367.76
24     11.697456    73.231504       48759.71      329252.09
25      5.965175    23.450334       89736.70      332976.05
26      3.945223    14.144793        5577.61      234926.02
27      7.369585    36.408528      310035.66      151934.45
28      7.343509    36.171862      310718.21      314068.92
29     12.350027    59.893478      258284.84       61847.52
..           ...          ...            ...            ...
170     8.443932    37.407112       17232.45       19203.82
171     5.151964    20.698042       21340.78       25302.92
172     6.537069    22.888219       16617.85       18650.96
173     8.500445    27.507729       21711.71       14626.29
174     3.931543    21.811659       28128.95       46323.73
175     6.163689    25.428521       21803.20      535381.86
176     4.904447    19.568317       12517.29      812011.78
177     7.402413    26.935335       53988.92      206247.57
178    47.503269   235.730678      555707.40        6402.78
179    55.739180   268.869600     1082136.01      100765.67
180    11.840780    56.433388      192089.46       20098.61
181     7.002294    26.440917        5574.99       68230.36
182     8.753142    45.293847       80241.27      596063.00
183     3.147741    15.594552       27043.54       87471.43
184     7.196779    27.288652       61977.54      431990.70
185    76.203692   367.225653      977772.62      136717.57
186    10.804337    42.031199       41905.18       30008.81
187    10.705327    45.891477       87839.45       19420.34
188    51.800686   255.153235      445058.32      274752.60
189     5.882779    27.512271      127495.18       10315.35
190     6.686406    26.103097       23874.67       45252.42
191     5.833355    23.741603       21535.87      433832.28
192    45.556096   218.008350      276096.18       74215.43
193     5.172606    21.548782        8506.79       78137.29
194    10.118018    46.700709       49163.01       83915.72
195    51.675537   233.533189      434110.57      372240.72
196     2.794631    11.996118       73789.38      148021.90
197     7.611698    38.809973       88006.84       31184.18
198    15.697651   105.035207      117958.96       33324.36
199    50.275893   225.055138      407738.79       32079.13

[200 rows x 4 columns]

In [45]:
sales_info.dtypes

volume_sold      float64
2015_margin      float64
2015_q1_sales    float64
2016_q1_sales    float64
dtype: object

In [72]:
sales_info.iloc[0:,0]

0      18.420760
1       4.776510
2      16.602401
3       4.296111
4       8.156023
5       5.005122
6      14.606750
7       4.456466
8       5.047530
9       5.388070
10      9.347349
11     10.930398
12      6.270209
13     12.395919
14      4.557712
15      4.200122
16     10.252870
17     12.076785
18      3.725095
19      3.210727
20      6.290971
21      7.434821
22      4.376225
23     12.988913
24     11.697456
25      5.965175
26      3.945223
27      7.369585
28      7.343509
29     12.350027
         ...
170     8.443932
171     5.151964
172     6.537069
173     8.500445
174     3.931543
175     6.163689
176     4.904447
177     7.402413
178    47.503269
179    55.739180
180    11.840780
181     7.002294
182     8.753142
183     3.147741
184     7.196779
185    76.203692
186    10.804337
187    10.705327
188    51.800686
189     5.882779
190     6.686406
191     5.833355
192    45.556096
193     5.172606
194    10.118018
195    51.675537
196     2.794631
197     7.611698
198    15.697651
199    50.275893
Name: volume_sold, dtype: float64

In [74]:
sales_info.iloc[0:,0].map(add_one)

0      19.420760
1       5.776510
2      17.602401
3       5.296111
4       9.156023
5       6.005122
6      15.606750
7       5.456466
8       6.047530
9       6.388070
10     10.347349
11     11.930398
12      7.270209
13     13.395919
14      5.557712
15      5.200122
16     11.252870
17     13.076785
18      4.725095
19      4.210727
20      7.290971
21      8.434821
22      5.376225
23     13.988913
24     12.697456
25      6.965175
26      4.945223
27      8.369585
28      8.343509
29     13.350027
         ...
170     9.443932
171     6.151964
172     7.537069
173     9.500445
174     4.931543
175     7.163689
176     5.904447
177     8.402413
178    48.503269
179    56.739180
180    12.840780
181     8.002294
182     9.753142
183     4.147741
184     8.196779
185    77.203692
186    11.804337
187    11.705327
188    52.800686
189     6.882779
190     7.686406
191     6.833355
192    46.556096
193     6.172606
194    11.118018
195    52.675537
196     3.794631
197     8.611698
198    16.697651
199    51.275893
Name: volume_sold, dtype: float64

In [75]:
sales_info

     volume_sold  2015_margin  2015_q1_sales  2016_q1_sales
0      18.420760    93.802281      337166.53      337804.05
1       4.776510    21.082425       22351.86       21736.63
2      16.602401    93.612494      277764.46      306942.27
3       4.296111    16.824704       16805.11        9307.75
4       8.156023    35.011457       54411.42       58939.90
5       5.005122    31.877437      255939.81      332979.03
6      14.606750    76.518973      319020.69      302592.88
7       4.456466    19.337345       45340.33       55315.23
8       5.047530    26.142470       57849.23       42398.57
9       5.388070    22.427024       51031.04       56241.57
10      9.347349    41.892133       68657.91        3536.14
11     10.930398    66.403049        4151.93      137416.93
12      6.270209    47.869324      121837.56      158476.55
13     12.395919    86.760150      146725.31      125731.51
14      4.557712    22.948176      119287.76       21834.49
15      4.200122    18.706055       20335.03       39609.55
16     10.252870    44.041177      110552.94      204038.87
17     12.076785    62.199004      204237.78       15689.80
18      3.725095    14.251810       16939.15       48545.69
19      3.210727    16.043269       55498.12       16320.74
20      6.290971    25.191171       15983.98       53182.55
21      7.434821    31.753066       71758.66       30402.43
22      4.376225    23.161451       62988.17       47217.40
23     12.988913    48.820741       29637.75        6367.76
24     11.697456    73.231504       48759.71      329252.09
25      5.965175    23.450334       89736.70      332976.05
26      3.945223    14.144793        5577.61      234926.02
27      7.369585    36.408528      310035.66      151934.45
28      7.343509    36.171862      310718.21      314068.92
29     12.350027    59.893478      258284.84       61847.52
..           ...          ...            ...            ...
170     8.443932    37.407112       17232.45       19203.82
171     5.151964    20.698042       21340.78       25302.92
172     6.537069    22.888219       16617.85       18650.96
173     8.500445    27.507729       21711.71       14626.29
174     3.931543    21.811659       28128.95       46323.73
175     6.163689    25.428521       21803.20      535381.86
176     4.904447    19.568317       12517.29      812011.78
177     7.402413    26.935335       53988.92      206247.57
178    47.503269   235.730678      555707.40        6402.78
179    55.739180   268.869600     1082136.01      100765.67
180    11.840780    56.433388      192089.46       20098.61
181     7.002294    26.440917        5574.99       68230.36
182     8.753142    45.293847       80241.27      596063.00
183     3.147741    15.594552       27043.54       87471.43
184     7.196779    27.288652       61977.54      431990.70
185    76.203692   367.225653      977772.62      136717.57
186    10.804337    42.031199       41905.18       30008.81
187    10.705327    45.891477       87839.45       19420.34
188    51.800686   255.153235      445058.32      274752.60
189     5.882779    27.512271      127495.18       10315.35
190     6.686406    26.103097       23874.67       45252.42
191     5.833355    23.741603       21535.87      433832.28
192    45.556096   218.008350      276096.18       74215.43
193     5.172606    21.548782        8506.79       78137.29
194    10.118018    46.700709       49163.01       83915.72
195    51.675537   233.533189      434110.57      372240.72
196     2.794631    11.996118       73789.38      148021.90
197     7.611698    38.809973       88006.84       31184.18
198    15.697651   105.035207      117958.96       33324.36
199    50.275893   225.055138      407738.79       32079.13

[200 rows x 4 columns]

In [48]:
def add_one(value):
    value=value+1
    return value

sales_info.applymap(add_one)

     volume_sold  2015_margin  2015_q1_sales  2016_q1_sales
0      19.420760    94.802281      337167.53      337805.05
1       5.776510    22.082425       22352.86       21737.63
2      17.602401    94.612494      277765.46      306943.27
3       5.296111    17.824704       16806.11        9308.75
4       9.156023    36.011457       54412.42       58940.90
5       6.005122    32.877437      255940.81      332980.03
6      15.606750    77.518973      319021.69      302593.88
7       5.456466    20.337345       45341.33       55316.23
8       6.047530    27.142470       57850.23       42399.57
9       6.388070    23.427024       51032.04       56242.57
10     10.347349    42.892133       68658.91        3537.14
11     11.930398    67.403049        4152.93      137417.93
12      7.270209    48.869324      121838.56      158477.55
13     13.395919    87.760150      146726.31      125732.51
14      5.557712    23.948176      119288.76       21835.49
15      5.200122    19.706055       20336.03       39610.55
16     11.252870    45.041177      110553.94      204039.87
17     13.076785    63.199004      204238.78       15690.80
18      4.725095    15.251810       16940.15       48546.69
19      4.210727    17.043269       55499.12       16321.74
20      7.290971    26.191171       15984.98       53183.55
21      8.434821    32.753066       71759.66       30403.43
22      5.376225    24.161451       62989.17       47218.40
23     13.988913    49.820741       29638.75        6368.76
24     12.697456    74.231504       48760.71      329253.09
25      6.965175    24.450334       89737.70      332977.05
26      4.945223    15.144793        5578.61      234927.02
27      8.369585    37.408528      310036.66      151935.45
28      8.343509    37.171862      310719.21      314069.92
29     13.350027    60.893478      258285.84       61848.52
..           ...          ...            ...            ...
170     9.443932    38.407112       17233.45       19204.82
171     6.151964    21.698042       21341.78       25303.92
172     7.537069    23.888219       16618.85       18651.96
173     9.500445    28.507729       21712.71       14627.29
174     4.931543    22.811659       28129.95       46324.73
175     7.163689    26.428521       21804.20      535382.86
176     5.904447    20.568317       12518.29      812012.78
177     8.402413    27.935335       53989.92      206248.57
178    48.503269   236.730678      555708.40        6403.78
179    56.739180   269.869600     1082137.01      100766.67
180    12.840780    57.433388      192090.46       20099.61
181     8.002294    27.440917        5575.99       68231.36
182     9.753142    46.293847       80242.27      596064.00
183     4.147741    16.594552       27044.54       87472.43
184     8.196779    28.288652       61978.54      431991.70
185    77.203692   368.225653      977773.62      136718.57
186    11.804337    43.031199       41906.18       30009.81
187    11.705327    46.891477       87840.45       19421.34
188    52.800686   256.153235      445059.32      274753.60
189     6.882779    28.512271      127496.18       10316.35
190     7.686406    27.103097       23875.67       45253.42
191     6.833355    24.741603       21536.87      433833.28
192    46.556096   219.008350      276097.18       74216.43
193     6.172606    22.548782        8507.79       78138.29
194    11.118018    47.700709       49164.01       83916.72
195    52.675537   234.533189      434111.57      372241.72
196     3.794631    12.996118       73790.38      148022.90
197     8.611698    39.809973       88007.84       31185.18
198    16.697651   106.035207      117959.96       33325.36
199    51.275893   226.055138      407739.79       32080.13

[200 rows x 4 columns]

In [55]:
def column_counts(value):
    for x in value:
        return value[x].value_counts()

column_counts(sales_info)

6.841363     1
11.505838    1
6.792889     1
4.904447     1
11.997117    1
6.433606     1
8.783937     1
9.849660     1
10.270185    1
10.637769    1
10.086030    1
5.781266     1
6.657733     1
3.147741     1
6.618174     1
10.252870    1
6.309813     1
7.390988     1
8.555078     1
6.000451     1
5.882779     1
45.556096    1
9.585210     1
5.294400     1
8.176668     1
10.118018    1
10.331430    1
6.300926     1
9.421713     1
8.622686     1
            ..
12.988913    1
8.124182     1
11.826536    1
9.347349     1
10.260836    1
4.557712     1
10.673717    1
14.439435    1
11.129382    1
51.800686    1
7.790503     1
13.635150    1
7.196779     1
3.606710     1
8.092883     1
7.824354     1
12.581695    1
5.965175     1
7.124444     1
8.500445     1
7.930415     1
4.296111     1
5.324497     1
7.772684     1
8.753142     1
8.686518     1
11.019652    1
6.686406     1
12.076785    1
8.564228     1
Name: volume_sold, dtype: int64

In [60]:
sales_info.quantile(.25)

volume_sold          6.274402
2015_margin         26.862036
2015_q1_sales    45544.420000
2016_q1_sales    38818.775000
dtype: float64

<a name="conclusion"></a>
## Conclusion (5 mins)
So far we've used pandas to look at the head and tail of a data set. We've also taken a look at summary stats and different
types of data types. We've selected and sliced data too.

Today we added inspecting data types, df.apply, .value_counts to
our pandas arsenal.

### Advanced reading (optional)

.apply() functions are a typical use case for [lambda](http://www.secnetix.de/olli/Python/lambda_functions.hawk) [functions](https://pythonconquerstheuniverse.wordpress.com/2011/08/29/lambda_tutorial/) -- we'll go over them later in the class, but dive in now if you'd like!