### 1.4: Some statistics with pandas

In [4]:
# import moduled
import pandas as pd
import numpy as np
import scipy.stats as stats
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

#### 1. Load in the SF crimes dataset:

In [5]:
crime = pd.read_csv('../../assets/datasets/sf_crime.csv')

#### 2. Print the head

In [6]:
crime.head()

,Dates,Category,Descript,DayOfWeek,PdDistrict,Resolution,Address,X,Y
0,2003-03-23 23:27:00,ARSON,ARSON OF A VEHICLE,Sunday,BAYVIEW,NONE,0 Block of HUNTERS PT EXPWY EX,-122.376945,37.733018
1,2006-03-07 06:45:00,LARCENY/THEFT,PETTY THEFT FROM LOCKED AUTO,Tuesday,NORTHERN,NONE,0 Block of MARINA BL,-122.432952,37.805052
2,2004-03-06 03:00:00,NON-CRIMINAL,LOST PROPERTY,Saturday,SOUTHERN,NONE,800 Block of BRYANT ST,-122.403405,37.775421
3,2011-12-03 12:10:00,BURGLARY,"BURGLARY OF STORE, UNLAWFUL ENTRY",Saturday,TARAVAL,"ARREST, BOOKED",3200 Block of 20TH AV,-122.475647,37.728528
4,2003-01-10 00:15:00,LARCENY/THEFT,PETTY THEFT OF PROPERTY,Friday,NORTHERN,NONE,POLK ST / BROADWAY ST,-122.421772,37.795946

#### 3. Print the unique categories and how many there are

In [7]:
crime['Category'].unique()

array(['ARSON', 'LARCENY/THEFT', 'NON-CRIMINAL', 'BURGLARY',
       'SUSPICIOUS OCC', 'VEHICLE THEFT', 'ASSAULT', 'FRAUD',
       'DRUG/NARCOTIC', 'SECONDARY CODES', 'OTHER OFFENSES',
       'MISSING PERSON', 'VANDALISM', 'ROBBERY', 'FORGERY/COUNTERFEITING',
       'PROSTITUTION', 'WARRANTS', 'TRESPASS', 'DISORDERLY CONDUCT',
       'SEX OFFENSES FORCIBLE', 'STOLEN PROPERTY',
       'DRIVING UNDER THE INFLUENCE', 'KIDNAPPING', 'WEAPON LAWS',
       'LOITERING', 'RECOVERED VEHICLE', 'RUNAWAY', 'DRUNKENNESS',
       'LIQUOR LAWS', 'EXTORTION', 'FAMILY OFFENSES', 'EMBEZZLEMENT',
       'SUICIDE', 'GAMBLING', 'BAD CHECKS', 'BRIBERY',
       'SEX OFFENSES NON FORCIBLE', 'TREA'], dtype=object)

In [8]:
crime['Category'].nunique()

38

#### 4. Print the unique districts and how many there are

In [9]:
crime['PdDistrict'].unique()

array(['BAYVIEW', 'NORTHERN', 'SOUTHERN', 'TARAVAL', 'MISSION',
       'INGLESIDE', 'CENTRAL', 'TENDERLOIN', 'RICHMOND', 'PARK'], dtype=object)

In [10]:
crime['PdDistrict'].nunique()

10

#### 5. Make a DataFrame of the crime categories and the number of crimes per category

In [17]:
crime['Category'].value_counts().to_frame()

                             Category
LARCENY/THEFT                    4934
OTHER OFFENSES                   3656
NON-CRIMINAL                     2601
ASSAULT                          2164
DRUG/NARCOTIC                    1533
VEHICLE THEFT                    1506
VANDALISM                        1280
WARRANTS                         1239
BURGLARY                         1023
SUSPICIOUS OCC                    891
MISSING PERSON                    771
ROBBERY                           630
FRAUD                             537
SECONDARY CODES                   283
FORGERY/COUNTERFEITING            281
WEAPON LAWS                       255
PROSTITUTION                      223
TRESPASS                          209
STOLEN PROPERTY                   137
SEX OFFENSES FORCIBLE             120
DRUNKENNESS                       105
DISORDERLY CONDUCT                105
RECOVERED VEHICLE                  80
DRIVING UNDER THE INFLUENCE        75
KIDNAPPING                         71
RUNAWAY                            58
ARSON                              52
LIQUOR LAWS                        51
LOITERING                          37
EMBEZZLEMENT                       28
BAD CHECKS                         14
FAMILY OFFENSES                    14
SUICIDE                            12
EXTORTION                           9
BRIBERY                             8
GAMBLING                            5
SEX OFFENSES NON FORCIBLE           2
TREA                                1

#### 6. Make a DataFrame of the districts and crime counts per district

In [18]:
crime['PdDistrict'].value_counts().to_frame()

            PdDistrict
SOUTHERN          4413
MISSION           3416
NORTHERN          3076
BAYVIEW           2555
CENTRAL           2424
TENDERLOIN        2336
INGLESIDE         2256
TARAVAL           1804
PARK              1438
RICHMOND          1282

#### 7. Make a DataFrame of the day of week and crime counts per day

In [19]:
crime['DayOfWeek'].value_counts().to_frame()

           DayOfWeek
Friday          3883
Wednesday       3657
Thursday        3579
Tuesday         3548
Monday          3524
Saturday        3496
Sunday          3313

#### 8. Describe one of the datasets

In [32]:
weekday= crime['DayOfWeek'].describe().to_frame()
weekday

       DayOfWeek
count      25000
unique         7
top       Friday
freq        3883

#### 9. Calculate the mean difference between the experimental and control below

In [20]:
control = [4.8,17.3,7.0,10.8,9.4,2.6,9.0,9.6,12.7,8.5,15.8,11.0,9.7,13.1,6.3,4.4,7.8,
           9.9,7.8,7.7,12.8,13.2,6.1,7.1,6.4,11.7,11.8,6.3,14.4,9.8,14.9,11.4,9.1,10.4,
           13.2,10.0,13.5,10.1,15.0,8.8,5.3,15.1,7.6,9.9,4.9,9.2,12.3,12.1,6.9,8.3,7.0,
           6.1,13.4,11.5,6.0,12.3,5.6,14.7,3.7,7.6,10.9,10.3,10.3,10.2,7.1,6.3,13.2,9.9,
           10.6,9.8,4.9,16.9,9.1,6.7,12.2,8.2,10.1,15.5,11.9,9.7,7.9,13.4,10.6,7.9,13.1,
           11.9,11.6,2.9,13.9,14.4,8.6,7.6,8.3,12.0,5.2,7.1,13.6,6.5,9.9,14.8]

In [21]:
experimental = [15.4,14.7,14.0,25.3,15.1,14.6,0.0,20.5,16.9,18.9,20.1,16.5,13.1,16.4,
                18.3,21.3,6.3,9.0,12.1,7.4,25.6,10.8,11.4,12.1,22.7,20.1,18.3,9.4,11.0,
                14.8,12.5,12.3,16.4,13.3,14.1,15.7,12.2,15.2,16.9,1.5,18.6,4.2,12.2,8.2,
                15.3,9.3,12.0,22.8,19.7,10.7,17.8,15.4,14.5,22.2,16.7,19.3,17.1,17.4,5.4,
                10.9,13.7,17.1,11.2,15.0,18.2,14.2,11.0,19.6,10.9,13.9,17.3,11.1,19.9,
                11.2,25.1,23.7,16.5,17.9,20.1,15.8,26.4,17.7,18.9,5.6,25.6,10.4,15.5,17.7,
                22.9,18.9,21.2,5.5,13.2,13.4,21.9,11.1,13.7,16.9,16.4,18.8 ]

In [26]:
np.mean(control)-np.mean(experimental)

-5.413000000000002

#### 10. Calculate the t-statistic for the difference between means by hand (if you forgot it, look it up online or in the notes!)

The standard deviation component is the standard deviation across groups.

In [28]:
(np.mean(experimental)-np.mean(control))/(np.std(experimental)/np.sqrt(experimental))

array([ 4.07951749,  3.98572294,  3.88966731,  5.2288803 ,  4.03958651,
        3.97214293,  0.        ,  4.70679593,  4.27357954,  4.51938501,
        4.66064976,  4.22270178,  3.76256566,  4.20988627,  4.44707019,
        4.79775692,  2.60926815,  3.11867195,  3.61610576,  2.82790164,
        5.2597902 ,  3.41633395,  3.50994947,  3.61610576,  4.95292062,
        4.66064976,  4.44707019,  3.18722238,  3.44782157,  3.99925685,
        3.67539014,  3.64586845,  4.20988627,  3.79117873,  3.90353426,
        4.1190614 ,  3.6310176 ,  4.05294055,  4.27357954,  1.27319249,
        4.4833734 ,  2.13045853,  3.6310176 ,  2.97683913,  4.06625073,
        3.17022374,  3.60113218,  4.96381815,  4.61404209,  3.40048081,
        4.38589712,  4.07951749,  3.95851632,  4.89806931,  4.24821683,
        4.5669588 ,  4.29879262,  4.33633737,  2.4157129 ,  3.43211387,
        3.84776662,  4.29879262,  3.47902421,  4.02618817,  4.43490308,
        3.91735212,  3.44782157,  4.60231643,  3.43211387,  3.87575075,
        4.32385868,  3.46345802,  4.63740448,  3.47902421,  5.20817178,
        5.06084006,  4.22270178,  4.3981998 ,  4.66064976,  4.1321586 ,
        5.3413422 ,  4.37355983,  4.51938501,  2.46004161,  5.2597902 ,
        3.35247161,  4.09274125,  4.37355983,  4.97469181,  4.51938501,
        4.78648133,  2.43797801,  3.77689929,  3.8054046 ,  4.86486168,
        3.46345802,  3.84776662,  4.27357954,  4.20988627,  4.50741311])

#### 11. Plot the control and experimental distributions using seaborn on the same plot (with different colors for each)

#### 12. Use both Pandas and numpy to calculate the mean, median, standard deviation, min and max of the control. You'll need to convert it to a pd.Series or pd.DataFrame object.